<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
     <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar" ></span>
          <span class="icon-bar" ></span>
          <span class="icon-bar" ></span>
       </button>
       <a href="/" class="navbar-brand">iLoveCricket</a>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="/australia">Australia</a></li>
          <li><a href="/india">India</a></li>
          <li><a href="/england">England</a></li>
          <li><a href="/southAfrica">SouthAfrica</a></li>
          <li><a href="/newZealand">NewZealand</a></li>
        </ul>
    </div>
 </div>
</div>
